[Unit]
Description=Periodic homeshick reports
Conflicts=in-work.target

[Timer]
OnCalendar=weekly
RandomizedDelaySec=6d
AccuracySec=1d
Persistent=true

[Install]
WantedBy=out-of-work.target
