[Unit]
Description=Trigger when not in the dayjob

[Timer]
OnCalendar=Mon..Fri 17..23:*
OnCalendar=Mon..Fri 00..07:*
OnCalendar=Sat..Sun *:*
Unit=out-of-work.target

[Install]
WantedBy=timers.target
