[Unit]
Description=OneDrive rclone mount
AssertPathIsDirectory=/home/adam/OneDrive
AssertPathIsDirectory=/mnt/ssd/rclone-cache
AssertPathExists=/home/adam/.config/rclone/rclone.conf
Requires=mnt-ssd.mount
After=mnt-ssd.mount
Wants=network-online.target
After=network-online.target network.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount \
	--config=/home/adam/.config/rclone/rclone.conf \
	--cache-dir=/mnt/ssd/rclone-cache/ \
	--vfs-cache-mode=full \
	--vfs-cache-max-age=8760h \
	--vfs-cache-max-size=200G \
	onedrive: /home/adam/OneDrive
ExecStop=/bin/fusermount -u /home/adam/OneDrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
